@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-size: 100%;
    line-height: inherit;
}

:root {
    --color-gray: #cecece;
    --color-text: #1e1e1e;
    --color-background: #efefef;
    --color-main: #003366;
    --color-white: #ffffff;
    --color-green: #33cc99;
    --color-cyan: #00cccc;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    height: 100vh;
}

input,
button {
    font-family: 'Poppins', sans-serif;
}

button {
    background-color: var(--color-green);
    border: 1px solid var(--color-green);
    color: var(--color-white);
    cursor: pointer;
    transition: 0.3s;
}

button:hover,
button:focus {
    outline: none;
    background-color: #248d6a;
    border-color: #248d6a;
}

.container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

header {
    background-color: var(--color-main);
    padding: 15px 20px;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

header .container,
header .container>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
}

header h1 {
    color: var(--color-white);
    font-size: 36px;
}

header button {
    background-color: var(--color-cyan);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    margin-right: 4rem;
    font-size: 14px;
}

header a.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: var(--color-background);
    border-radius: 50%;
    font-size: 22px;
    font-weight: 700;
    color: var(--color-text);
}

header button:hover {
    background-color: #00acac;
}

.features .container>div {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.features .feature-card {
    background-color: var(--color-white);
    padding: 60px;
    width: 240px;
}

.features .feature-card:first-child {
    margin-right: 60px;
}

.feature-card p {
    margin-bottom: 40px;
}

.feature-card a {
    padding: 10px 25px;
    border: 1px solid var(--color-green);
    border-radius: 8px;
    color: var(--color-green);
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s;
}

.feature-card a:hover,
.feature-card a:active {
    background-color: var(--color-green);
    color: var(--color-white);
}

.page-wrapper {
    display: flex;
}

.sidebar {
    height: calc(100vh - 85px);
    width: 250px;
    padding: 20px;
    background-color: var(--color-white);
    border-right: 1px solid var(--color-gray);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 20px;
}

.sidebar a {
    text-decoration: none;
    padding: 10px 35px;
    color: var(--color-text);
}

.sidebar a:hover,
.sidebar a:active {
    color: var(--color-green);
}

.main-content {
    padding: 5px;
    flex-grow: 1;
}

section.features,
section.short-form {
    text-align: center;
    padding: 50px 0;
}

section.features h2,
section.short-form h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 24px;
}

section.short-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.short-form form .form-field {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 25px;
}

section.short-form form label {
    text-align: left;
    margin-bottom: 8px;
    font-size: 16px;
}

section.short-form form input {
    background-color: var(--color-white);
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 35px;
    border: 1px solid transparent;
    transition: border-color 0.3s;
}

section.short-form form input:hover,
section.short-form form input:focus {
    outline: none;
    border-color: var(--color-cyan);
}

section.short-form form input::placeholder {
    color: var(--color-gray);
    font-weight: 300;
}

section.short-form button {
    border-radius: 35px;
    padding: 10px 50px;
    font-weight: 400;
    font-size: 18px;
    margin-top: 25px;
}

section.short-form button:disabled {
    cursor: not-allowed;
    background-color: var(--color-gray);
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 90%;
    top: 15%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;

    background-color: #53a653;
    padding: 20px 20px;
    max-width: 150px;
    border-radius: 10px;

    text-align: center;
    font-size: 12px;
}

.tooltip.active {
    visibility: visible;
    opacity: 1;
}